[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
numpy = "==1.23.5"
scikit-learn = "==1.2.2"
xgboost = "==1.7.5"
flask = "==2.3.2"
gunicorn = "==21.2.0"
tqdm = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.11"
