*.ipynb
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git/
.gitignore
README.md
deployment/
data.csv
*.md
test_predict.py
pycharmvenv/
anonymize_data.py
data_original.csv
docs/
helpers/
data/
